body{
            background-repeat: no-repeat;
             background-size: cover;
             position:absolute;
             right: 500px;
            background-attachment:fixed;
        } 